body,
html {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    text-align: center;
}

#PiSymbol {
    top: 5;
    left: 50vw;
    width: 10%;
    height: 10%;
}

input {
    font-size: 32pt;
}

p {
    font-size: 32pt;
    color: black;
}

canvas {
    display: block;
}

.search-box {
    margin-top: 30vh;
  }